<div class="container-fluid">

    <div class="row p-4 bg-black">
        
        <div class="col-6 col-md-6 col-lg-3">
            <p class="h4 mt-4" style="color: aqua;">Courses</p>
            <div>
                <a class="text-white text-decoration-none" href="#">Course Kotlin</a>
            </div>
            <div>
                <a class="text-white text-decoration-none" href="#">Course Python</a>
            </div>
            <div>
                <a class="text-white text-decoration-none" href="#">Course HTML y CSS</a>
            </div>
        </div>

        <div class="col-6 col-md-6 col-lg-3">
            <p class="h4 mt-4" style="color: aqua;">Links</p>
            <div>
                <a class="text-white text-decoration-none" href="#">Terms & Conditions</a>
            </div>
            <div>
                <a class="text-white text-decoration-none" href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
            <p class="h4 mt-4" style="color: aqua;">Contact</p>
            <p>arathgg143@gmail.com</p>
            <p>Facebook: Arath García</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 align-self-center">
            <p class="h5" style="color: aqua;">Developed by Arath Garcia</p>
        </div>

    </div>

</div>